---
const url=import.meta.env.PUBLIC_ENV_URL
const apiKey=import.meta.env.PUBLIC_CLIENT_KEY
const currentPage=Astro.url.pathname
const tangkap=await fetch(`${url}/api/api.php/records/blog?order=id,desc&size=6`, {
    headers: {
        'x-api-key': apiKey
    }
}).then((resp)=>resp.json())
// const data=await response.json()
const data=tangkap.records
---
{data.map((item:any)=>(
    <figure class="w-1/4 rounded-lg bg-slate-100 overflow-hidden shadow-lg mb-4 mr-4">
        <img src={`${url}/assets/uploads/images/blog/${item.acak}-1.jpg`} alt={item.nama}>
        <div class="p-4">
            <blockquote>
                <p class="font-bold text-xl">
                    {item.nama}
                </p>
            </blockquote>
            <figcaption>
                <div class="">{item.rgks}</div>
            </figcaption>
        </div>
    </figure>
))}
