---
const apiUrl=import.meta.env.API_BASE_URL
const currentPage=Astro.url.pathname
let size=0
if (currentPage==='/') {
    size=4
} else {
    size=20
}
const tangkap=await fetch(`${apiUrl}/api/api.php/records/blog?order=id,desc&size=${size}`, {
    headers: {
        'x-api-key': import.meta.env.API_KEY
    }
}).then((resp)=>resp.json())
// const data=await response.json()
const data=tangkap.records
---
{data.map((item:any)=>(
    <figure class="w-1/4 rounded-lg bg-slate-100 overflow-hidden shadow-lg mb-4">
        <img src={`${apiUrl}/assets/uploads/images/blog/${item.acak}-1.jpg`} alt={item.nama}>
        <div class="p-4">
            <blockquote>
                <p class="font-bold text-xl">
                    {item.nama}
                </p>
            </blockquote>
            <figcaption>
                <div class="">{item.rgks}</div>
            </figcaption>
        </div>
    </figure>
))}
